<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Properties>
		<Property name="layoutPattern">%style{[%d{yyyy-MM-dd HH:mm:ss,SSS}]}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue}(%F:%L) %style{[%t]}{yellow} %m%n</Property>
		<Property name="fileLayoutPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p](%F:%L) [%t] - %m%n</Property>
	</Properties>

	<!-- Appenders -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}"/>
		</Console>
	</Appenders>

</Configuration>
